/* @theme mspt2 */

@import 'gaia';

:root {
    font-family: GmarketSansTTFMedium;
    font-size: 18px;
    background-image: url("./themes/hero-background.svg");
    background-size: cover;
}

section {
    
    vertical-align: top;

}

header {
    font-family: GmarketSansTTFMedium;
    font-size: 20px;
}

footer {
    font-family: 'Trebuchet MS';
    font-size: 20px;
}


th,
td {
    border: none !important;
}

img[alt~="center"] {
    display: block;
    margin: 0 auto;
}

a:link, a:visited {
    padding: 0px 5px;
    text-decoration: none;
    font-size: 16px;
}
  
a:hover, a:active {
    padding: 0px 5px;
    text-decoration: none;
    font-size: 16px;
}